body {
  padding-top: 0px;
  height: 100%;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}
#theMap { 
	height: 900px;
}

.absoluteSearch {
	position: absolute;
    width:100%;
    top:2.75%;
    left: 5%;
    z-index: 9999;
}