<div id="theMap"></div>
<div class="absoluteSearch">
  <div class="row">
    <div class="col-sm-3 col-md-4">
      <select class="js-example-basic-multiple" multiple="true" id="searchBox"></select>
    </div>
    <div class="col-sm-3 col-md-3">
      <%= form_tag( {:controller => "map", :action => "upload"},
        {:method => "post", :enctype => 'multipart/form-data', :id => 'uploadForm'}) do %>
        <label class="btn btn-default btn-file">
          Browse<%= file_field_tag 'file' , style: 'display: none;'%>
        </label>
        <button type="submit" class="btn btn-success" id="uploadButton">Upload GPX</button>
      <% end %>
    </div>
  </div>
</div>
